@model Server.IdentityServer.Extensions.Models.RedirectViewModel

<div class="redirect-page">
    <div class="lead">
        <h1>Вы возвращаетесь в приложение</h1>
        <p>После завершения вы можете закрыть эту вкладку.</p>
    </div>
</div>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>