# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Bot.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\py6jl\Documents\projects\bot\.idea\.idea.Bot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
