@page "/userinfo"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<div class="container">
    <h3>Информация о пользователе</h3>
    <h4>@_userName :</h4>
    @if (_claims.Any())
    {
        <ul class="list-group">
            @foreach (var claim in _claims)
            {
                <li class="list-group-item">@claim.Type: @claim.Value</li>
            }
        </ul>
    }
</div>

@code {
    private string _userName;
    private IEnumerable<Claim> _claims = Enumerable.Empty<Claim>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        
        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            _userName = user.Identity.Name;
            _claims = user.Claims;
        }
    }
}